#third {
  margin-top: 90px;

  .thrid-wrapper {
    display: flex;
    flex-direction: column;
   

    &_title {
      color: #999;
      font-family: Libre Franklin;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .card_box {
      display: flex;
      flex-wrap: wrap;
      row-gap: 50px;
      justify-content: space-between;
      margin-bottom: 70px;
      .card {
        display: flex;
        flex-direction: column;

        &_img_box {
          margin-bottom: 24px;
          .img {
            width: 285px;
            height: 187px;
          }
        }
        &_body {
          &_title {
            width: 93px;
            color: #999;
            font-family: Libre Franklin;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px; /* 120% */
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 18px;
          }
          &_desc1 {
            width: 300px;
            color: #000;
            font-family: Tenor Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 120% */
            text-transform: uppercase;
            margin-bottom: 15px;
          }
          &_desc2 {
            color: #000;
            font-family: Libre Franklin;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: 12px; /* 120% */
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }
      }
    }
    &_btn {
      margin: 0 auto;
      width: 205px;
      padding: 21px 26px;
      border: 1px solid #000;
      background: #fff;
      color: #000;
      font-family: Libre Franklin;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px; /* 120% */
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}
